button{
  font-size: 16px;
  background-color: green;
  padding: 15px 30px;
  color: white;
  width: 100px;
}

.count{
    font-size: 50px;
    padding: 15px 30px;

}
.reset{
  font-size: 16px;
  background-color: red;
  padding: 15px 30px;
  color: white;
  width: 200px;
}